services:
  postgres:
    image: 'postgres:15'
    environment:
      - 'POSTGRES_DB=forkthebill'
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_PASSWORD=postgres'
      - 'POSTGRES_HOST_AUTH_METHOD=trust'
    ports:
      - '5433:5432'
